{% if manual_result %}
  <div class="result">
    <strong>Status:</strong> {{ manual_result.action }} <br>
    <strong>Risk:</strong> {{ manual_result.prob }}%
  </div>
{% endif %}

{% if file_result %}
  <div class="result">
    Rows: {{ file_result.rows }} <br>
    First status: {{ file_result.first_action }} ({{ file_result.first_prob }}%)
  </div>
{% endif %}

{% if url_result %}
  <div class="result">
    Rows: {{ url_result.rows }} <br>
    First status: {{ url_result.first_action }} ({{ url_result.first_prob }}%)
  </div>
{% endif %}
